.intro {
    >header {
        display    : flex;
        align-items: center;

        >img {
            margin-right : 16px;
            border-radius: 16px;
        }

        >p {
            font-size  : 18px;
            line-height: 1.4em;
        }
    }
}