/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Pretendard;
  background-color: #ffeff0;
  padding-top: 60px;
}
body > header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #ffa7ad;
  color: #7117b5;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-family: Chewy;
}
body > header > .logo {
  display: flex;
  align-items: center;
  font-size: 40px;
}
@media only screen and (max-width: 719px) {
  body > header > .logo {
    flex-grow: 1;
  }
}
body > header > a {
  margin: 0 16px;
  font-size: 24px;
}
@media only screen and (max-width: 719px) {
  body > header > .pc-menu {
    display: none;
  }
}
body > header > .mobile-menu-button {
  display: none;
  padding: 10px;
}
@media only screen and (max-width: 719px) {
  body > header > .mobile-menu-button {
    display: block;
  }
}
body > section {
  padding: 60px 20px 0;
  max-width: 780px;
  margin: auto;
}
body > section > h2 {
  font-size: 32px;
  font-family: Chewy;
  color: #7117b5;
  margin-bottom: 20px;
}
body > footer {
  margin-top: 60px;
  padding: 40px 0;
  background-color: #7117b5;
  color: #ffffff;
  text-align: center;
  font-family: Chewy;
  font-size: 24px;
}
@media only screen and (max-width: 719px) {
  .intro > h2 {
    text-align: center;
  }
}
.intro > header {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 719px) {
  .intro > header {
    display: block;
  }
}
.intro > header > img {
  margin-right: 16px;
  border-radius: 16px;
}
@media only screen and (max-width: 719px) {
  .intro > header > img {
    margin-right: 0;
    margin: auto;
    display: block;
  }
}
.intro > header > p {
  font-size: 18px;
  line-height: 1.4em;
}
@media only screen and (max-width: 719px) {
  .intro > header > p {
    margin-top: 16px;
  }
}
.mint > .foxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.mint > .foxes > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.mint > .ready {
  margin: 32px 0;
  font-size: 32px;
  text-align: center;
  font-family: Chewy;
  color: #7117b5;
  line-height: 1.2em;
}
.roadmap > section > h3 {
  font-family: Chewy;
  padding: 15px 0;
  font-size: 24px;
}
.roadmap > section > ul {
  margin-left: 24px;
  list-style: disc;
}
.roadmap > section > ul > li {
  padding: 5px;
}
.team > .members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
}
@media only screen and (max-width: 719px) {
  .team > .members {
    display: block;
  }
}
.team > .members > section {
  margin-bottom: 32px;
}
.team > .members > section > h3 {
  font-family: Chewy;
  font-size: 24px;
  margin-bottom: 16px;
}
.team > .members > section > img {
  width: 200px;
  border-radius: 8px;
}
.team > .members > section > p {
  margin-top: 16px;
}
.gallary > .filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}
.gallary > .filter > input,
.gallary > .filter > select,
.gallary > .filter > a {
  text-align: center;
  padding: 4px 0;
  border: 1px solid #ffa7ad;
  color: #7117b5;
  font-weight: bold;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}
.gallary > .filter > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffa7ad;
  color: #fff;
}
.fox-list {
  margin-top: 8px;
  height: 300px;
}
.fox-list > .fox-line {
  display: flex;
  justify-content: center;
}
.fox-list > .fox-line > .fox-item {
  position: relative;
  width: 90px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 1em;
}
.fox-list > .fox-line > .fox-item > span {
  position: absolute;
  left: 3px;
  bottom: 0;
  line-height: 1em;
  color: #fff;
  font-size: 14px;
  text-shadow: 0px 0px 5px #000000;
}
@media only screen and (max-width: 799px) {
  .fox-list > .fox-line > .fox-item {
    width: 64px;
    height: 64px;
    font-size: 14px;
  }
}
.discord {
  text-align: center;
}
.discord > p {
  margin: 16px 0;
}
.mobile-menu {
  position: fixed;
  width: 170px;
  background-color: #ffa7ad;
  color: #7117b5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 999;
}
.mobile-menu > a {
  display: block;
  padding: 12px 5px;
  font-size: 18px;
  font-family: Chewy;
}

